*{
	margin: 0px auto;
	padding: 0px;
}
header{
	width: 600px;
	height: 60px;
	background-color: green;
	color: #ffffff;
	text-align: center;

}
.main-content{
	width: 560px;
	height: 500px;
	border: 10px solid green;
	padding: 10px;
}
footer{
	width: 600px;
	height: 60px;
	background-color: green;
	color: #ffffff;
	text-align: center;

}